In [22]:
import xml.etree.ElementTree as ET
from os import listdir
from os.path import isfile, join
import pandas as pd

In [152]:
fn = 'data/train/Accident'
tree = ET.parse('data/train/Accident/test_28.xml')

In [100]:
root = tree.getroot()

In [130]:
root[6][4][1].tag

'ymin'

In [153]:
p = [fn + '/' + f for f in listdir(fn) if isfile(join(fn, f)) and f[-1] == 'l']

In [154]:
filename = []
accidents = []
width = []
height = []
xmin = []
ymin = []
xmax = []
ymax = []

In [155]:
def data(p,filename, accidents,width,height,xmin,ymin,xmax,ymax):
    for xml in p:
        tree = ET.parse(xml) #адрес файла
        root=tree.getroot()   #парсим
        num_objects = len(root)-6
        cords = []
        w = int(root[4][0].text) #ширина x
        h = int(root[4][1].text) #высота y
        filename.append(xml.replace('.xml','.jpg').replace('data/train/Accident/',''))
        width.append(w)
        height.append(h)
        xmin.append(root[6][4][0].text)
        ymin.append(root[6][4][1].text)
        xmax.append(root[6][4][2].text)
        ymax.append(root[6][4][3].text)
        accidents.append('accidents')
    return filename,accidents,width,height,xmin,ymin,xmax,ymax

In [158]:
filename, accidents, width, height, xmin, ymin, xmax, ymax = data(p,filename, accidents,width,height,xmin,ymin,xmax,ymax)#,accidents,width,height)#,xmin,ymin,xmax,ymax)

In [185]:
df_acc = pd.DataFrame({'filename' :filename,'width': width, 'height': height, 'class': accidents,'xmin':xmin, 'ymin': ymin, 'xmax':xmax,'ymax': ymax})

In [186]:
df_acc

          filename  width  height      class xmin ymin  xmax ymax
0    test10_10.jpg   1280     720  accidents  379  329   618  570
1    test10_11.jpg   1280     720  accidents  352  283   667  574
2    test10_12.jpg   1280     720  accidents  370  262   631  544
3    test10_13.jpg   1280     720  accidents  337  257   622  547
4    test10_14.jpg   1280     720  accidents  362  261   604  505
..             ...    ...     ...        ...  ...  ...   ...  ...
457   test7_28.jpg   1280     720  accidents  813  221  1162  326
458   test7_30.jpg   1280     720  accidents  760  219  1132  312
459    test_28.jpg   1280     720  accidents  197  113   589  243
460    test_29.jpg   1280     720  accidents  324  119   573  262
461    test_30.jpg   1280     720  accidents  301  120   578  252

[462 rows x 8 columns]

In [183]:
df_acc = df_acc.to_csv('data/train/Accident/accidents.csv', encoding='utf-8')